.reveal .slides {
  font-size: 32px;
}


.reveal h1 {
  font-size: 72px;
}

.reveal h2 {
  font-size: 52px;
}

.reveal h3 {
  font-size: 44px;
}

.reveal h4 {
  font-size: 36px;
}

.reveal h5 {
  font-size: 28px;
}

.reveal h6 {
  font-size: 28px;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none;
}

.reveal ul li {
  /*text-align: left;*/
  margin-top:0.5em;
}